html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

.body {
	height: 100vh;
}

.block {
	background-color: hsl(182, 25%, 50%);
	border: 1px solid cornsilk;
	height: 2rem;
	width: 2rem;
}

.row {
	display: flex;
	justify-content: center;
}

.hover {
	background-color: hsl(182, 25%, 75%);
}
