html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.block {
	background-color: hsl(345, 48%, 49%);
	border: 1px solid cornsilk;
	height: 2rem;
	width: 2rem;
}

.row {
	display: flex;
	justify-content: center;
}

.hover {
	background-color: hsl(345, 48%, 25%);
}

button.new-grid {
	background-color: hsl(233, 25%, 26%);
	color: hsl(0, 50%, 100%);
	padding: 0.5rem 2rem;
	font-size: 1rem;
	margin-bottom: 1rem;
}

button.new-grid:hover {
	background-color: hsl(233, 25%, 35%);
	cursor: pointer;
}
